# Porta em que o servidor backend vai rodar
PORT=3000

# URL do Frontend para configuração de CORS
FRONTEND_URL=http://localhost:5173

# Chaves de Autenticação do Airtable
AIRTABLE_TOKEN=your_airtable_token_here
AIRTABLE_BASE_ID=your_airtable_base_id_here

# URL de Webhook para Notificações (Slack, Discord, etc)
WEBHOOK_URL=your_webhook_url_here
